.baseChatsHeader {
    height: 5%;
    margin: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseChatsBody {
    height: 90%;
    margin: 2.5%;
}

.row {
    height: 100%;

}


#chat {
    border-left: 5px black solid;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#chatContacts {
    background-color: lightgrey;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.chat-box {
    margin-top: 2.5%;
    display: flex;
}

.chat-message-User {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.chat-message-Friend {
    width: 100%;

}

.chat-message-User p {
    margin: 1%;
    display: flex;
    justify-content: flex-end;
    
}

.chat-message-Friend p {
    margin: 1%;

}

.message{
    background-color: #0d6efd;;
    width: fit-content;
    padding: 2%;
    padding-bottom: 1.5%;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
}

.message-Friend{
    background-color: #0d6efd;;
    width: fit-content;
    padding: 2%;
    padding-bottom: 1.5%;
    border-radius: 20px;
    color: #fff;
    display: flex;
    flex-direction: row;
}



.list-group-item:hover {
    cursor: pointer;
}

.hover {
    background-color: #eee;
}


.scrollbar {
    max-height: 450px;
    overflow-y: scroll;
    scrollbar-width: auto;
    scrollbar-color: #000000 #ffffff;
    display: flex;
    flex-direction: column;
}

.BtnRefreshChats{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    padding: 2.5%;
    width: 100%;
    background-color: #67a1f8;
}


.BtnRefreshChats:hover{
    background-color: #0d6efd;
}
    
.dateTime{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 75%;
    color: black;
}

.dateTime-Friend{
   display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 75%;
    color: black;
}

.textMessage{
    padding-right:  10px;
    padding-bottom: 10px;
}

.textMessage-Friend{
    padding-right: 10px;
    padding-bottom: 10px;

}