.baseChatsHeader {
    height: 5%;
    margin: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseChatsBody {
    height: 90%;
    margin: 2.5%;
}

.row {
    height: 100%;

}


#chat {
    border-left: 5px black solid;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#chatContacts {
    background-color: lightgrey;
    padding: 1%;
}

.chat-box {
    margin-top: 2.5%;
    display: flex;
}

.chat-message-User {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.chat-message-Friend {
    width: 100%;

}

.chat-message-User p {
    margin: 1%;
    display: flex;
    justify-content: flex-end;
    
}

.chat-message-Friend p {
    margin: 1%;

}

.message{
    background-color: #0d6efd;;
    width: fit-content;
    padding: 2%;
    border-radius: 20px;
    color: #fff;
}



.list-group-item:hover {
    cursor: pointer;
}

.hover {
    background-color: #eee;
}


