.baseFriendsHeader {
    height: 10%;
    margin: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.baseFriendsBody {
    height: 80%;
    margin: 2.5%;
}

#friendsList {
    width: 50%;
    display: flex;
    justify-content: center;
}

#friendsListItems{
    display: flex;
    justify-content: center;
}

#singleFriendList{
    display: flex;
    justify-content: space-between;
}

.friendImageUsername{
    display: flex;
    gap: 25px;
    align-items: center;
}

.friendImage{
    border: 1px solid black;
}
.image{
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}