.homeStructure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../images/HomePage.jpg');
  flex-direction: column;
}

html,
body {
  height: 100%;
}

.homeTitle {
  background-color: white;
  padding: 3%;
  border-radius: 25px;
  margin-top: 20%;
  opacity: 85%;
  border: 2.5px solid black;

}
.homeButtons {
  margin-top: 2.5%;
  display: flex;
  gap: 5%;
  width: 25%;
}

.btnLoginRegister {
  border-radius: 20px;
  width: 200%;
  background-color: lightgreen;
  border: 2.5px solid black;
}

.btnLoginRegister:hover {
  background-color: rgb(2, 145, 2);
}

.btnLoginRegister:last-child {
  background-color: lightgreen;
}

.btnLoginRegister:last-child:hover {
  background-color: rgb(2, 145, 2);;
}