.registerStructure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/HomePage.jpg');
    flex-direction: column;
}

.register{
    background-color: white;
    padding: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    border-radius: 25px;
    opacity: 97%;
    border: 2.5px solid black;
}

.register h1{
    display: flex;
    justify-content: center;
}

.registerPart{
    padding-top: 10%;
}

.registerPart label{
    display: flex;
    justify-content: center;
}



.registerPart button{
    width: 100%;
}